#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#canvas {
    display:none;
}

.camera {
    width: 340px;
    display:inline-block;
}

.output {
    width: 340px;
    display:inline-block;
}

#startButton {
    /*display:block;*/
    position:relative;
    margin-left:auto;
    margin-right:auto;
    /*bottom:32px;*/
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.contentArea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

#tester {
    width: 400px;
    height: 300px;

    /*position: relative;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

    margin: auto;
    /*float: left;*/
}

#wrapper {
    width:1020px;
    display:table;
}

#jsonOutput {
    width:600px;
    display:table-cell;
}

#responseTextArea {
    width:580px;
    height:400px;
}

#imageDiv {
    width:420px;
    display:table-cell;
}

#pdfDiv {
    /*white-space: nowrap;*/
    /*width: ;*/
    /*height: 300px;*/
    float: right;
    /*!*display: inline-block;*!*/

}

#the-canvas {
    width: 1200px;
    height: auto;
}

div {
    display: inline-block;
    width: fit-content;
}

.contentArea {
    float: left;
    width: fit-content;
}

